{
	"extends": ["airbnb", "prettier"],
	"parserOptions": {
		"ecmaVersion": 6
	},
	"env": {
		"node": true,
		"browser": true,
		"es6": true
	},
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"trailingComma": "all",
			},
		],
	}
}

// {
// 	"extends": ["airbnb"],
// 	"parserOptions": {
// 		"ecmaVersion": 6
// 	},
// 	"env": {
// 		"node": true,
// 		"browser": true,
// 		"es6": true
// 	},
// 	"rules": {
// 		// "comma-dangle": warn,
// 		"semi": [2, "never"]
// 	}
// }