// COLORS
$color-primary: #FAFAFA;

$color-primary-light: #721cb3c5;
$color-primary-dark: #607D8B;


$color-secondary-light: #212121;
$color-secondary-dark: #D50000;

$color-tertiary-light: #00BFA5;
$color-tertiary-dark: #F06292;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
