/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* Universall selector (*) and body are use to reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;

	height: 100vh;
	background-image: linear-gradient(
			to right bottom,
			rgba(126, 213, 111, 1),
			rgba(40, 180, 131, 1)
		),
		url(./assets/backgroundIMG.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	/* padding: 30px; */
}

.btn-white {
	background-color: #fff;
	color: #444;
}
.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 50px 20px rgba(0, 0, 0, 0.2);
}
