.messageslist {
	width: 80vw;
	margin: 8vh auto;
	background-color: $color-primary-dark;
	box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
	padding: 2rem;
	transition: transform 0.3s;

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__messageToRead {
		// height: 5vh;
		// width: 3vw;
		padding: 2rem;
		margin: 1rem;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
		// width: 4rem;
		background-color: $color-tertiary-light;
		transition: transform 0.3s;
		&:hover {
			transform: translateY(-1.5rem) scale(1.03);
		}
	}

	&__messageReaded {
		// height: 5vh;
		// width: 3vw;
		padding: 2rem;
		margin: 1rem;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
		// width: 4rem;
		background-color: $color-secondary-dark;
		transition: transform 0.3s;
		&:hover {
			transform: translateY(-1.5rem) translateX(-1rem) scale(1.03);
		}
	}
}
