.welcome {
	width: 80vw;
	font-size: 3rem;
	margin: 8vh auto;
	background-color: $color-primary-dark;
	box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
	padding: 2rem;

	p span {
		text-decoration: underline;
	}

	&__mapid {
		position: absolute;
		left: 50%;
		top: 55%;
		transform: translate(-50%, -30%);
		width: 80%;
		height: 60%;
		min-height: 40%;
		border-radius: 3px;
	}

	.mylocation {
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translate(-50%, 10%);
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
		font-family: Arial;
		color: #1f628d;
		font-size: 30px;
		background: #ffffff;
		padding: 10px 20px 10px 20px;
		border: solid #1f628d 2px;
		text-decoration: none;
	}

	.mylocation:hover {
		background: #1f628d;
		text-decoration: none;
		color: #ffffff;
		border: none;
	}

	@media (max-width: 767px) {
		#mapid,
		.mylocation {
			display: none;
		}
	}

	/* @media (max-width: 993) {
  #mapid, .mylocation {

  }
} */
}
